@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");

$color-main: #3f51b5;
$color-accent: #e81919;
$color-text: #333333;

$layout-width-inner: 1200px;

$font-en: "Lato", sans-serif;
$font-ja: "Noto Sans JP", sans-serif;

$breakpoints: (
  "sp": "(max-width: 767px)",
  "tb": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $color-text;
}

body {
  font-family: $font-ja;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 18px auto;

  @include mq(tb) {
    padding-left: 24px;
    padding-left: 24px;
  }

  @include mq(sp) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding: 80px 0 75px;

  @include mq(sp) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.section-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  font-family: $font-en;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 4px;
    background: $color-main;

    @include mq(sp) {
      width: 42px;
      height: 3px;
    }
  }
}

// header

.header {
  background: $color-main;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 3px rgba(#000, 0.16);
  top: 0;
  left: 0;
  z-index: 100;

  @include mq(sp) {
    height: 60px;
  }

  &_inner {
    display: flex;
    align-items: center;
    height: inherit;
    margin: 0 auto;
  }

  &_logo {
    width: 205px;

    img {
      display: block;
    }
  }

  &_nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-family: $font-en;

    @include mq(sp) {
      display: none;
    }

    li {
      &:not(:first-child) {
        margin-left: 42px;
      }

      a {
        color: #fff;
        text-decoration: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 2px;
          background: transparent;
          transition: all 0.3s ease 0s;
        }

        &:hover,
        &.is-active {
          &::after {
            background: $color-accent;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// main-visual

.main-visual {
  height: 600px;
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
  margin-top: 100px;

  @include mq(sp) {
    margin-top: 60px;
    height: 420px;
  }

  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  &_title {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.3;

    @include mq(sp) {
      font-size: 32px;
    }
  }

  &_lead {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;

    @include mq(sp) {
      font-size: 18px;
      margin-top: 18px;
    }
  }

  &_button {
    margin-top: 30px;

    a {
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      width: 384px;
      max-width: 100%;
      height: 72px;
      line-height: 72px;
      font-size: 24px;
      text-align: center;
      color: #fff;
      background: $color-main;
      border-radius: 8px;
      box-shadow: 0px 3px 6px rgba(#000, 0.16);
      transition: all 0.3s ease 0s;

      @include mq(sp) {
        font-size: 24px;
        width: 280px;
        height: 60px;
        line-height: 60px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// Card

.card {
  background: #efefef;

  &_inner {
  }

  &_items {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;

    @include mq(sp) {
      margin-top: 42px;
    }
  }

  &_item {
    width: calc(33.3% - 24px * 2 / 3);
    background: #fff;
    padding: 16px;
    border-radius: 4px;

    @include mq(pc) {
      &:not(:nth-child(3n + 1)) {
        margin-left: 24px;
      }

      &:nth-child(n + 4) {
        margin-top: 24px;
      }
    }

    @include mq(tb) {
      width: calc(50% - 24px * 1 / 2);

      &:not(:nth-child(2n + 1)) {
        margin-left: 24px;
      }

      &:nth-child(n + 3) {
        margin-top: 24px;
      }
    }

    @include mq(sp) {
      width: 100%;
      margin-left: 0;

      &:nth-child(n + 2) {
        margin-top: 24px;
      }
    }
  }

  &_img {
    text-align: center;

    img {
      width: 100%;
    }
  }

  &_title {
    font-size: 20px;
    font-weight: bold;
    color: #6f7579;
    margin-top: 12px;
  }

  &_text {
    font-weight: bold;
    color: #6f7579;
    margin-top: 10px;
    line-height: calc(24 / 16);
  }
}

// News

.news {
  background: #fff;

  @include mq(sp) {
    padding-top: 50px;
  }

  &_inner {
  }

  &_head {
  }

  &_items {
    margin: 80px auto 0px auto;
    width: 800px;
    max-width: 100%;

    @include mq(sp) {
      margin: 40px auto 0px auto;
    }
  }

  &_item {
    display: flex;
    padding: 15px 0 15px 0;

    &:not(:first-child) {
      border-top: 1px solid #707070;
    }

    @include mq(sp) {
      display: block;
    }
  }

  &_meta {
    display: flex;
    width: 175px;
  }

  &_date {
    width: 101px;
    padding-top: 3px;
    font-family: $font-en;
  }

  &_label {
    a {
      display: inline-block;
      width: 80px;
      height: 32px;
      line-height: 32px;
      color: #fff;
      text-align: center;
      background: #666666;
      border-radius: 4px;
      font-weight: bold;
      transition: all 0.3s ease 0s;

      &.is-blue {
        background: #3f51b5;
      }

      &.is-red {
        background: #e81919;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &_title {
    width: calc(100% - 175px);
    padding-left: 20px;
    line-height: calc(20 / 16);
    padding-top: 3px;

    a:hover {
      opacity: 0.7;
      transition: all 0.3s ease 0s;
    }

    @include mq(sp) {
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      margin-top: 6px;
    }
  }

  &_more {
    margin-top: 30px;
    text-align: center;
    font-family: $font-en;

    @include mq(sp) {
      margin-top: 30px;
    }

    a {
      color: #e81919;
      font-weight: bold;
      padding-right: 14px;
      position: relative;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }

      &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 11px;
        background: url(../img/news-arrow.png) no-repeat center center/contain;
      }
    }
  }
}

// price

.price {
  background: #efefef;

  &_inner {
  }

  &_head {
  }

  &_content {
    display: flex;
    margin-top: 80px;

    @include mq(sp) {
      display: block;
      margin-top: 40px;
    }
  }

  &_image {
    width: calc(454 / 1200 * 100%);

    @include mq(sp) {
      width: 100%;
      text-align: center;
    }

    img {
    }
  }

  &_table {
    width: calc(calc(172 + 268 + 268) / 1200 * 100%);
    margin-left: auto;

    @include mq(sp) {
      width: 100%;
      margin-top: 24px;
    }
  }

  &_attention {
    font-size: 14px;
    margin-top: 12px;
    a {
      font-weight: bold;
      border-bottom: solid 1px black;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  width: 100%;
  table-layout: fixed;

  th,
  td {
    border: 1px solid #707070;
    padding: 0 24px;
    height: 58px;
    vertical-align: middle;
  }

  th {
    background: #999999;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: $font-en;

    &:nth-child(1) {
      width: 172px;

      @include mq(sp) {
        width: 112px;
      }
    }
  }

  td {
    text-align: right;
  }

  strong {
    color: #e81919;
    line-height: calc(58 / 24);
  }

  span {
    font-size: 13px;
    display: block;
    line-height: calc(58 / 23);
  }
}

// access

.access {
  &_map {
    margin: 80px auto 0 auto;
    width: 800px;
    max-width: 100%;

    @include mq(sp) {
      margin-top: 40px;
    }
  }

  &_info {
    margin: 16px auto 0;
    width: 800px;
    max-width: 100%;
  }

  &_info-row {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 8px;
    }

    dt {
      margin: 0;
      padding: 0;
      font-weight: bold;
      width: 104px;
    }

    dd {
      margin: 0;
      padding: 0;
      width: calc(100% - 104px);
    }
  }

  &_button {
    text-align: center;
    margin-top: 30px;

    a {
      display: inline-block;
      width: 304px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      padding: 16px 12px;
      border-radius: 8px;
      background: $color-main;
      box-shadow: 0 3px 6px #00000029;
      position: relative;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: 17px;
        height: 16px;
        background: url(../img/button-arrow.png) no-repeat center center/contain;
      }
    }
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: calc(400 / 800 * 100%);
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// contact

.contact {
  background: #efefef;
  &_inner {
  }

  &_head {
  }

  &_form {
    margin: 80px auto 45px auto;
    width: 800px;
    max-width: 100%;
    background: #fff;
    padding: 60px;

    @include mq(sp) {
      margin-top: 40px;
      padding: 24px;
      margin-bottom: 60px;
    }
  }
}

.contact-form {
  &_dl {
  }

  &_row {
    display: flex;

    @include mq(sp) {
      display: block;
    }

    &:not(:first-child) {
      margin-top: 54px;

      @include mq(sp) {
        margin-top: 30px;
      }
    }
  }

  &_label {
    width: 160px;
    padding-top: 5px 0px 0px;
    margin: 0;

    @include mq(sp) {
      width: 100%;
    }

    label {
      font-weight: bold;

      &.is-required {
        display: inline-block;
        position: relative;

        &::after {
          content: "必須";
          position: absolute;
          top: calc(100% - 1px);
          left: 0;
          font-weight: bold;
          font-size: 14px;
          color: #ffffff;
          background: #e81919;
          border-radius: 4px;
          text-align: center;
          padding: 2px 8px;
          line-height: 1;

          @include mq(sp) {
            top: 50%;
            transform: translateY(-50%);
            left: calc(100% + 6px);
            width: 44px;
          }
        }
      }
    }
  }

  &_input {
    width: calc(100% - 160px);
    margin: 0;
    padding: 0;

    @include mq(sp) {
      width: 100%;
      margin-top: 10px;
    }

    [type="text"] {
      box-shadow: none;
      border: 1px solid #707070;
      background: #fff;
      padding: 10px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
    }

    [type="email"] {
      box-shadow: none;
      border: 1px solid #707070;
      background: #fff;
      padding: 10px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
    }

    select {
      box-shadow: none;
      border: 1px solid #707070;
      padding: 12px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
      background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px
        center / 17px 14px;
    }

    textarea {
      height: 240px;
      box-shadow: none;
      border: 1px solid #707070;
      background: #fff;
      padding: 10px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
      resize: none;
    }
  }

  &_radio {
    margin-top: 25px;

    @include mq(sp) {
      margin-top: 16px;
    }
    [type="radio"] {
      display: none;
    }

    span {
      display: inline-block;
      padding-left: 28px;
      position: relative;
      margin-right: 44px;

      @include mq(sp) {
        margin-bottom: 8px;
        margin-right: 20px;
      }

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border: solid 1px #707070;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        border-radius: 50%;
      }

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: $color-main;
        position: absolute;
        left: 5px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        display: none;
      }
    }
  }

  [type="radio"]:checked + span {
    &::after {
      display: block;
    }
  }

  &_check {
    margin-top: 60px;
    text-align: center;

    @include mq(sp) {
      margin-top: 32px;
    }

    [type="checkbox"] {
      display: none;
    }

    span {
      padding-left: 49px;
      display: inline-block;
      position: relative;

      a {
        font-weight: bold;
        border-bottom: solid black 1px;
        transition: all 0.3s ease 0s;

        &:hover {
          opacity: 0.7;
        }
      }

      &::before {
        content: "";
        width: 25px;
        height: 25px;
        background: #fff;
        border: solid 1px #707070;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      &::after {
        content: "";
        width: 25px;
        height: 25px;
        border: solid 1px #707070;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background: url(../img/checkbox@2x.png) no-repeat center center/contain;
        display: none;
      }
    }
  }

  [type="checkbox"]:checked + span {
    &::after {
      display: block;
    }
  }

  &_button {
    margin-top: 29px;
    text-align: center;

    [type="submit"] {
      background: $color-main url(../img/button-arrow.png) no-repeat right 12px
        center / 17px 16px;
      display: inline-block;
      font-weight: bold;
      color: #fff;
      padding: 20px;
      width: 304px;
      height: 56px;
      line-height: 1;
      border-radius: 8px;
      position: relative;
      box-shadow: 0 3px 6px #00000029;
      appearance: none;
      font-family: inherit;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// qa

.qa {
  &_inner {
  }

  &_items {
    width: 900px;
    max-width: 100%;
    margin: 80px auto 0;
  }

  &_item {
    &:nth-child(n + 2) {
      margin-top: 24px;
    }
  }
}

.qa-box {
  border: 1px $color-main solid;
  &_q {
    font-weight: bold;
    color: #fff;
    background: $color-main;
    padding: 12px 56px;
    position: relative;

    &::before {
      content: "Q";
      position: absolute;
      top: 12px;
      left: 20px;
    }
  }

  &_icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);

    &.is-open {
      .qa-box_bar2 {
        transform: rotate(90deg);
      }
    }
  }

  &_bar1 {
    position: absolute;
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &_bar2 {
    width: 2px;
    height: 14px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    transition: all 0.3s ease 0s;
  }

  &_a {
    font-weight: bold;
    color: $color-main;
    background: #fff;
    line-height: calc(24 / 16);
    margin: 16px 30px 16px 25px;
    display: none;
  }

  &_content {
    position: relative;
    padding-left: 35px;
    font-weight: bold;

    &::before {
      content: "A";
      position: absolute;
      color: $color-main;
      top: 0;
      left: 0;
    }
  }
}

// footer

.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 35px 0 24px;
  color: #fff;

  @include mq(sp) {
    padding-top: 30px;
    padding-bottom: 14px;
  }

  &_inner {
  }

  &_content {
    display: flex;

    @include mq(sp) {
      display: block;
    }
  }

  &_left {
    width: 34%;

    @include mq(sp) {
      width: 100%;
      text-align: center;
    }
  }

  &_logo {
    a {
    }

    img {
      width: 205px;
    }
  }

  &_address,
  &_tel {
    font-size: 14px;
    margin-top: 32px;
  }

  &_address {
    margin-top: 32px;

    @include mq(sp) {
      margin-top: 16px;
    }
  }

  &_tel {
    margin-top: 10px;

    @include mq(sp) {
      margin-top: 6px;
    }
  }

  &_center {
    width: 48%;

    @include mq(sp) {
      width: 100%;
      margin-top: 24px;
    }
  }

  &_nav {
    display: flex;
    font-family: $font-en;

    a {
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }

    @include mq(sp) {
      margin-top: 24px;
      justify-content: center;
    }

    li {
      &:not(:first-child) {
        margin-left: 30px;

        @include mq(sp) {
          margin-left: 20px;
        }
      }
    }
  }

  &_right {
    width: 18%;

    @include mq(sp) {
      width: 100%;
      margin-top: 24px;
    }
  }

  &_sns {
    display: flex;
    justify-content: flex-end;

    a {
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }

    @include mq(sp) {
      justify-content: center;
    }

    li {
      &:not(:first-child) {
        margin-left: 16px;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &_copy {
    text-align: center;
    font-size: 14px;
    margin-top: 46px;
    font-family: $font-en;

    @include mq(sp) {
      margin-top: 22px;
    }
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 60px;

  a {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
  }

  @include mq(sp) {
    width: 40px;
    right: 12px;
    bottom: 12px;
  }
}

.swiper-button-prev {
  width: 41px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-prev@2x.png) no-repeat center
    center/contain;
  left: calc(50% - ($layout-width-inner / 2));

  &::after {
    display: none;
  }

  @include mq(sp) {
    left: 10px;
  }

  @include mq(tb) {
    left: 10px;
  }
}

.swiper-button-next {
  width: 41px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-next@2x.png) no-repeat center
    center/contain;
  right: calc(50% - ($layout-width-inner / 2));

  &::after {
    display: none;
  }

  @include mq(sp) {
    right: 10px;
  }

  @include mq(tb) {
    right: 10px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #ffffff9e;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 8px;
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;

  @include mq(sp) {
    display: block;
  }

  &.is-active {
    transform: translateX(-200px);
    .drawer-icon_bar1 {
      transform: rotate(-45deg);
      top: 8px;
    }

    .drawer-icon_bar2 {
      display: none;
    }

    .drawer-icon_bar3 {
      transform: rotate(45deg);
      top: 8px;
    }
  }

  &_bars {
    width: 22px;
    height: 20px;
    display: block;
    position: relative;
  }

  &_bar1,
  &_bar2,
  &_bar3 {
    position: absolute;
    width: 22px;
    height: 4px;
    background: #fff;
    top: 0;
    left: 0;
  }

  &_bar1 {
    top: 0;
  }
  &_bar2 {
    top: 8px;
  }
  &_bar3 {
    top: 16px;
  }
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  z-index: 200;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is-active {
    transform: translateX(0);
  }

  &_items {
  }
  &_item {
    border-bottom: 1px dotted #707070;
    a {
      display: block;
      color: #707070;
      padding: 10px 20px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        right: 21px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 11px;
        background: url(../img/arrow-b@2x.png) no-repeat center center/contain;
      }
    }
  }
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.8);
  z-index: 198;
  display: none;

  &.is-active {
    display: block;
  }
}

.modal-contact {
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 24px * 2);
  height: 652px;
  max-height: calc(100% - 24px * 2);
  background: #ffffff;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
  display: none;

  @include mq(sp) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &_head {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 24px;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background: $color-main;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  &_content {
    margin-top: 40px;
    height: calc(100% - 84px - 108px);
    overflow: auto;

    > :first-child {
      margin-top: 0;
    }
  }

  &_sub-head {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    margin-top: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 20px;
      background: $color-main;
    }
  }

  &_button {
    margin-top: 60px;
    text-align: center;
    a {
      display: inline-block;
      width: 176px;
      padding: 14px;
      text-align: center;
      color: #fff;
      background: $color-main;
      font-weight: bold;
      border-radius: 8px;
      box-shadow: 0 3px 6px rgba(#000, 0.16);
    }
  }

  &_icon {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: -20px;
    a {
    }

    img {
    }
  }

  &_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.3);
    z-index: 500;
    display: none;
  }
}

.modal-cantact_text{
  margin-top: 16px;
  padding-left: 20px;
  line-height: calc(24 / 16);

}