@charset "UTF-8";
body {
  color: #082B48;
  font-family: verdana, geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082B48;
}
a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

/*===================================
header
====================================*/
header {
  padding: 20px 0;
}

.header-title {
  font-weight: bold;
  font-size: link-font-size9px;
  padding-bottom: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.header-nav-item {
  margin-left: 20px;
  font-size: link-font-size;
  font-weight: 600;
  line-height: 36px;
}

@media screen and (max-width: 767px) {
  .clear::after {
    content: none;
  }
  .header-left {
    float: none;
  }
  .header-title {
    text-align: center;
  }
  .header-right {
    float: none;
  }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-nav-item {
    float: none;
    margin: 0;
  }
}
#drawer {
  display: none;
  position: relative;
}
#drawer.open {
  display: block;
  position: absolute;
  background-color: #fff;
  padding: 25px;
  border: solid 1px;
}

.drawer-item a {
  font-weight: bold;
}

/*==========================================
top
==========================================*/
.top {
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
  padding: 80px;
}

.top-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.top-subtitle {
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .top {
    padding: 120px 0;
  }
  .top-title {
    font-size: 32px;
  }
  .top-subtitle {
    font-size: 14px;
  }
}
/*==========================================
section共通クラス
==========================================*/
.section {
  padding: 60px 0;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 80px 0;
  }
  .section p {
    font-size: 14px;
  }
  .section .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
}
/*========================================
about
========================================*/
.about-left {
  float: left;
  width: 48%;
}

.about-right {
  float: right;
  width: 48%;
}

@media screen and (max-width: 767px) {
  .about-left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .about-right {
    float: none;
    width: 100%;
  }
}
/*========================================
course
========================================*/
.course {
  background-color: #e3fcf4;
}

.course-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-item {
  width: 30%;
  cursor: pointer;
}
.course-item:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .course-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .course-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*画像モーダル表示*/
#bg-gray {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #555;
}
#bg-gray img {
  position: absolute;
  inset: 0;
  margin: auto;
  max-width: 90%;
  max-height: 100%;
}

/*========================================
contact
========================================*/
.contact-massage {
  text-align: center;
  margin-bottom: 20px;
}

input[type=email] {
  width: 600px;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  input[type=email], input[type=text] {
    width: 100%;
  }
}
.btn {
  padding: 20px 60px;
  display: inline-block;
  background-color: #082B48;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn-register {
  background-color: #ec6d64;
  display: block;
  margin: auto;
}

/*==========================================
ページトップボタン
==========================================*/
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

/*========================================
footer
========================================*/
footer {
  background-color: #082B48;
  color: #fff;
  padding: 20px 0;
}

.copyright {
  font-size: 12px;
  float: right;
}

@media screen and (max-width: 767px) {
  .copyright {
    font-size: 10px;
    float: none;
    text-align: center;
  }
}