@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #333333;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 18px auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .inner {
    padding-left: 24px;
    padding-left: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding: 80px 0 75px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  font-family: "Lato", sans-serif;
}
.section-title::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3f51b5;
}
@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}

.header {
  background: #3f51b5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
  z-index: 100;
}
@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  margin: 0 auto;
}
.header_logo {
  width: 205px;
}
.header_logo img {
  display: block;
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .header_nav {
    display: none;
  }
}
.header_nav li:not(:first-child) {
  margin-left: 42px;
}
.header_nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.header_nav li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header_nav li a:hover::after, .header_nav li a.is-active::after {
  background: #e81919;
  cursor: pointer;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}
.main-visual_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.main-visual_title {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .main-visual_title {
    font-size: 32px;
  }
}
.main-visual_lead {
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .main-visual_lead {
    font-size: 18px;
    margin-top: 18px;
  }
}
.main-visual_button {
  margin-top: 30px;
}
.main-visual_button a {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  width: 384px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background: #3f51b5;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .main-visual_button a {
    font-size: 24px;
    width: 280px;
    height: 60px;
    line-height: 60px;
  }
}
.main-visual_button a:hover {
  opacity: 0.7;
}

.card {
  background: #efefef;
}
.card_items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .card_items {
    margin-top: 42px;
  }
}
.card_item {
  width: calc(33.3% - 16px);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .card_item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card_item:nth-child(n+4) {
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card_item {
    width: calc(50% - 12px);
  }
  .card_item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card_item:nth-child(n+3) {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .card_item {
    width: 100%;
    margin-left: 0;
  }
  .card_item:nth-child(n+2) {
    margin-top: 24px;
  }
}
.card_img {
  text-align: center;
}
.card_img img {
  width: 100%;
}
.card_title {
  font-size: 20px;
  font-weight: bold;
  color: #6f7579;
  margin-top: 12px;
}
.card_text {
  font-weight: bold;
  color: #6f7579;
  margin-top: 10px;
  line-height: 1.5;
}

.news {
  background: #fff;
}
@media (max-width: 767px) {
  .news {
    padding-top: 50px;
  }
}
.news_items {
  margin: 80px auto 0px auto;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .news_items {
    margin: 40px auto 0px auto;
  }
}
.news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 15px 0;
}
.news_item:not(:first-child) {
  border-top: 1px solid #707070;
}
@media (max-width: 767px) {
  .news_item {
    display: block;
  }
}
.news_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
}
.news_date {
  width: 101px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}
.news_label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666666;
  border-radius: 4px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news_label a.is-blue {
  background: #3f51b5;
}
.news_label a.is-red {
  background: #e81919;
}
.news_label a:hover {
  opacity: 0.7;
}
.news_title {
  width: calc(100% - 175px);
  padding-left: 20px;
  line-height: 1.25;
  padding-top: 3px;
}
.news_title a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .news_title {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 6px;
  }
}
.news_more {
  margin-top: 30px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .news_more {
    margin-top: 30px;
  }
}
.news_more a {
  color: #e81919;
  font-weight: bold;
  padding-right: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news_more a:hover {
  opacity: 0.7;
}
.news_more a::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

.price {
  background: #efefef;
}
.price_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .price_content {
    display: block;
    margin-top: 40px;
  }
}
.price_image {
  width: 37.8333333333%;
}
@media (max-width: 767px) {
  .price_image {
    width: 100%;
    text-align: center;
  }
}
.price_table {
  width: 59%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .price_table {
    width: 100%;
    margin-top: 24px;
  }
}
.price_attention {
  font-size: 14px;
  margin-top: 12px;
}
.price_attention a {
  font-weight: bold;
  border-bottom: solid 1px black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.price_attention a:hover {
  opacity: 0.7;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}
.table th {
  background: #999999;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.table th:nth-child(1) {
  width: 172px;
}
@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}
.table td {
  text-align: right;
}
.table strong {
  color: #e81919;
  line-height: 2.4166666667;
}
.table span {
  font-size: 13px;
  display: block;
  line-height: 2.5217391304;
}

.access_map {
  margin: 80px auto 0 auto;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .access_map {
    margin-top: 40px;
  }
}
.access_info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}
.access_info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.access_info-row:not(:first-child) {
  margin-top: 8px;
}
.access_info-row dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
  width: 104px;
}
.access_info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}
.access_button {
  text-align: center;
  margin-top: 30px;
}
.access_button a {
  display: inline-block;
  width: 304px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 16px 12px;
  border-radius: 8px;
  background: #3f51b5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.access_button a:hover {
  opacity: 0.7;
}
.access_button a::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.png) no-repeat center center/contain;
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  background: #efefef;
}
.contact_form {
  margin: 80px auto 45px auto;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}
@media (max-width: 767px) {
  .contact_form {
    margin-top: 40px;
    padding: 24px;
    margin-bottom: 60px;
  }
}

.contact-form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .contact-form_row {
    display: block;
  }
}
.contact-form_row:not(:first-child) {
  margin-top: 54px;
}
@media (max-width: 767px) {
  .contact-form_row:not(:first-child) {
    margin-top: 30px;
  }
}
.contact-form_label {
  width: 160px;
  padding-top: 5px 0px 0px;
  margin: 0;
}
@media (max-width: 767px) {
  .contact-form_label {
    width: 100%;
  }
}
.contact-form_label label {
  font-weight: bold;
}
.contact-form_label label.is-required {
  display: inline-block;
  position: relative;
}
.contact-form_label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background: #e81919;
  border-radius: 4px;
  text-align: center;
  padding: 2px 8px;
  line-height: 1;
}
@media (max-width: 767px) {
  .contact-form_label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}
.contact-form_input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contact-form_input {
    width: 100%;
    margin-top: 10px;
  }
}
.contact-form_input [type=text] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form_input [type=email] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form_input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center/17px 14px;
}
.contact-form_input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}
.contact-form_radio {
  margin-top: 25px;
}
@media (max-width: 767px) {
  .contact-form_radio {
    margin-top: 16px;
  }
}
.contact-form_radio [type=radio] {
  display: none;
}
.contact-form_radio span {
  display: inline-block;
  padding-left: 28px;
  position: relative;
  margin-right: 44px;
}
@media (max-width: 767px) {
  .contact-form_radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}
.contact-form_radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: solid 1px #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}
.contact-form_radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3f51b5;
  position: absolute;
  left: 5px;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
.contact-form [type=radio]:checked + span::after {
  display: block;
}
.contact-form_check {
  margin-top: 60px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-form_check {
    margin-top: 32px;
  }
}
.contact-form_check [type=checkbox] {
  display: none;
}
.contact-form_check span {
  padding-left: 49px;
  display: inline-block;
  position: relative;
}
.contact-form_check span a {
  font-weight: bold;
  border-bottom: solid black 1px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form_check span a:hover {
  opacity: 0.7;
}
.contact-form_check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: solid 1px #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.contact-form_check span::after {
  content: "";
  width: 25px;
  height: 25px;
  border: solid 1px #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../img/checkbox@2x.png) no-repeat center center/contain;
  display: none;
}
.contact-form [type=checkbox]:checked + span::after {
  display: block;
}
.contact-form_button {
  margin-top: 29px;
  text-align: center;
}
.contact-form_button [type=submit] {
  background: #3f51b5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  width: 304px;
  height: 56px;
  line-height: 1;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form_button [type=submit]:hover {
  opacity: 0.7;
}

.qa_items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}
.qa_item:nth-child(n+2) {
  margin-top: 24px;
}

.qa-box {
  border: 1px #3f51b5 solid;
}
.qa-box_q {
  font-weight: bold;
  color: #fff;
  background: #3f51b5;
  padding: 12px 56px;
  position: relative;
}
.qa-box_q::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}
.qa-box_icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa-box_icon.is-open .qa-box_bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.qa-box_bar1 {
  position: absolute;
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa-box_bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.qa-box_a {
  font-weight: bold;
  color: #3f51b5;
  background: #fff;
  line-height: 1.5;
  margin: 16px 30px 16px 25px;
  display: none;
}
.qa-box_content {
  position: relative;
  padding-left: 35px;
  font-weight: bold;
}
.qa-box_content::before {
  content: "A";
  position: absolute;
  color: #3f51b5;
  top: 0;
  left: 0;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 35px 0 24px;
  color: #fff;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}
.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .footer_content {
    display: block;
  }
}
.footer_left {
  width: 34%;
}
@media (max-width: 767px) {
  .footer_left {
    width: 100%;
    text-align: center;
  }
}
.footer_logo img {
  width: 205px;
}
.footer_address, .footer_tel {
  font-size: 14px;
  margin-top: 32px;
}
.footer_address {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .footer_address {
    margin-top: 16px;
  }
}
.footer_tel {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .footer_tel {
    margin-top: 6px;
  }
}
.footer_center {
  width: 48%;
}
@media (max-width: 767px) {
  .footer_center {
    width: 100%;
    margin-top: 24px;
  }
}
.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
}
.footer_nav a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer_nav a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .footer_nav {
    margin-top: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer_nav li:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 767px) {
  .footer_nav li:not(:first-child) {
    margin-left: 20px;
  }
}
.footer_right {
  width: 18%;
}
@media (max-width: 767px) {
  .footer_right {
    width: 100%;
    margin-top: 24px;
  }
}
.footer_sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer_sns a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer_sns a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .footer_sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer_sns li:not(:first-child) {
  margin-left: 16px;
}
.footer_sns li img {
  width: 30px;
  height: 30px;
}
.footer_copy {
  text-align: center;
  font-size: 14px;
  margin-top: 46px;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .footer_copy {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 60px;
}
.to-top a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.to-top a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .to-top {
    width: 40px;
    right: 12px;
    bottom: 12px;
  }
}

.swiper-button-prev {
  width: 41px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-prev@2x.png) no-repeat center center/contain;
  left: calc(50% - 600px);
}
.swiper-button-prev::after {
  display: none;
}
@media (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-button-next {
  width: 41px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-next@2x.png) no-repeat center center/contain;
  right: calc(50% - 600px);
}
.swiper-button-next::after {
  display: none;
}
@media (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.6196078431);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.drawer-icon.is-active .drawer-icon_bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.drawer-icon.is-active .drawer-icon_bar2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon_bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.drawer-icon_bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}
.drawer-icon_bar1, .drawer-icon_bar2, .drawer-icon_bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}
.drawer-icon_bar1 {
  top: 0;
}
.drawer-icon_bar2 {
  top: 8px;
}
.drawer-icon_bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 200;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.drawer-content_item {
  border-bottom: 1px dotted #707070;
}
.drawer-content_item a {
  display: block;
  color: #707070;
  padding: 10px 20px;
  position: relative;
}
.drawer-content_item a::after {
  position: absolute;
  content: "";
  right: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-b@2x.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 198;
  display: none;
}
.drawer-background.is-active {
  display: block;
}

.modal-contact {
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 48px);
  height: 652px;
  max-height: calc(100% - 48px);
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
  display: none;
}
@media (max-width: 767px) {
  .modal-contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.modal-contact_head {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 24px;
  position: relative;
  text-align: center;
}
.modal-contact_head::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #3f51b5;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.modal-contact_content {
  margin-top: 40px;
  height: calc(100% - 84px - 108px);
  overflow: auto;
}
.modal-contact_content > :first-child {
  margin-top: 0;
}
.modal-contact_sub-head {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
  margin-top: 40px;
}
.modal-contact_sub-head::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background: #3f51b5;
}
.modal-contact_button {
  margin-top: 60px;
  text-align: center;
}
.modal-contact_button a {
  display: inline-block;
  width: 176px;
  padding: 14px;
  text-align: center;
  color: #fff;
  background: #3f51b5;
  font-weight: bold;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.modal-contact_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
}
.modal-contact_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
}

.modal-cantact_text {
  margin-top: 16px;
  padding-left: 20px;
  line-height: 1.5;
}