body {
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  font-family: "Noto Sans JP", sans-serif;
  background: #fafafa;
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.inline-block {
  font-weight: inherit;
  display: inline-block;
}

.inner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1200px;
  }
}

.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.heading_en {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
}
@media screen and (min-width: 768px) {
  .heading_en {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading_ja {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.28px;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .heading_ja {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: 8px 28px;
  display: inline-block;
  border-radius: 60px;
  border: 2px solid currentColor;
  background: #fff;
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  min-width: 150px;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background: #fabe00;
}
.button--type2 {
  background-color: #111;
  color: #fff;
}
.button--type2:hover {
  background: #fff;
  color: #111;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 15px;
}
@media screen and (min-width: 768px) {
  .header_inner {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 21px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header_logo a img {
  width: 100px;
  height: 26px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header_logo a img {
    width: 135px;
    height: 35px;
    margin-top: 8px;
  }
}

.header_nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

.header_link {
  font-weight: 700;
  letter-spacing: 0.48px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header_link:hover {
  color: #f5810e;
}

.header_open {
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .header_open {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 10px;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(3) {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 10px;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(2) {
  display: none;
}

.drawer-icon_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  background: #111;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s linear;
  transition: top 0.3s, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s;
  transition: transform 0.3s linear, top 0.3s, -webkit-transform 0.3s linear;
}
.drawer-icon_bar:nth-of-type(2) {
  top: 9px;
}
.drawer-icon_bar:nth-of-type(3) {
  top: 18px;
}

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: 86px 40px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content_link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.48px;
}

.drawer-content_button {
  margin-top: 14px;
  text-align: right;
}

.mv {
  border-radius: 20px;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
}
@media screen and (min-width: 768px) {
  .mv {
    border-radius: 30px;
    max-width: calc(100% - 60px);
  }
}

.mv_inner {
  padding: 50px 20px 255px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mv_inner {
    padding-top: 110px;
    padding-bottom: 109px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mv_lead1,
.mv_lead2 {
  -webkit-font-feature-settings: "palt" on;
          font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .mv_lead1,
  .mv_lead2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.mv_lead2 {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .mv_lead2 {
    margin-top: 14px;
  }
}

.mv_description {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 26px;
}
@media screen and (min-width: 768px) {
  .mv_description {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    margin-top: 20px;
  }
}

.mv_button {
  margin-top: 22px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv_button {
    text-align: left;
    margin-top: 32px;
  }
}
.mv_image {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
  bottom: -108px;
}
@media screen and (min-width: 768px) {
  .mv_image {
    width: 54.5454545455%;
    text-align: right;
    bottom: -88px;
    right: 31px;
  }
}
.mv_image img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .mv_image img {
    width: 600px;
  }
}

.case {
  margin-top: 108px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .case {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.case_inner {
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .case_inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.case_title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
}
@media screen and (min-width: 768px) {
  .case_title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.case_items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
}
@media screen and (min-width: 768px) {
  .case_items {
    margin-top: 54px;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}

.case_item {
  text-align: center;
}
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.news_card {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 40px 12px;
}
@media screen and (min-width: 768px) {
  .news_card {
    border-radius: 30px;
    padding-left: 9.2105263158%;
    padding-right: 9.2105263158%;
    padding-top: 40px;
    padding-bottom: 34px;
  }
}

.news_title {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .news_title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .news_lists {
    margin-top: 30px;
  }
}

.news_list:nth-child(n+2) {
  position: relative;
}
.news_list:nth-child(n+2)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #e3e3e3;
}

.news_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .news_link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.news_link:hover {
  background: #fff9e5;
}

.news-link_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .news-link_meta {
    width: 239px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    gap: 14px;
  }
}

.news-link_date {
  color: #333;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .news-link_date {
    width: 119px;
  }
}

.news-link_label {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
  background: #e4780c;
  min-width: 63px;
  text-align: center;
}
.news-link_label.is-column {
  background: #ecb815;
}
.news-link_label.is-event {
  background: #389b47;
}

.news_link_button {
  text-align: right;
  margin-top: 22px;
}
.news_link_button a {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  border-bottom: 2px solid currentColor;
  padding-bottom: 3px;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.news_link_button a:hover {
  color: #fabe00;
}
@media screen and (min-width: 768px) {
  .news_link_button {
    margin-top: 19px;
  }
}

.about {
  padding-top: 58px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.about_title {
  text-align: center;
}
.about_title img {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .about_title img {
    width: 230px;
  }
}

.about_content {
  padding-top: 288px;
  padding-bottom: 105px;
  margin-top: 150px;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about_content {
    margin-top: 176px;
    padding-top: 284px;
    padding-bottom: 100px;
  }
}
.about_content::before {
  content: "";
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .about_content::before {
    width: 800px;
    height: 800px;
  }
}

.about_image {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about_image {
    top: -126px;
  }
}
.about_image img {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about_image img {
    width: 330px;
  }
}

.about_text {
  font-weight: 700;
  line-height: 2.3;
}

.about_pop {
  margin-top: 42px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
}
@media screen and (min-width: 768px) {
  .about_pop {
    margin-top: 42px;
  }
}

.about_button {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .about_button {
    margin-top: 6px;
    padding: 9px 30px;
  }
}

.about-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 40px);
  overflow: auto;
  padding: 16px 15px 64px;
  border-radius: 20px;
  background: #fff;
  border: none;
  z-index: 60;
}
@media screen and (min-width: 768px) {
  .about-modal {
    width: 1140px;
    padding: 49px 70px 75px;
  }
}
.about-modal::-ms-backdrop {
  opacity: 0.2;
  background: #000;
}
.about-modal::backdrop {
  opacity: 0.2;
  background: #000;
}

.about-modal_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: sticky;
  top: 0;
}

.about-modal_close-icon img {
  width: 37px;
}

.about-modal_body {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .about-modal_body {
    margin-top: 43px;
  }
}
.about-modal_body p {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .about-modal_body p {
    font-size: 16px;
  }
}
.about-modal_body p:nth-child(n+2) {
  margin-top: 20px;
}

.about-modal_close-button {
  margin-top: 30px;
  text-align: center;
}

.movie {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left/529px auto;
}
@media screen and (min-width: 768px) {
  .movie {
    padding-top: 93px;
    padding-bottom: 100px;
  }
}

.movie_inner {
  padding-left: 15px;
  padding-right: 15px;
}

.movie_iframe {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .movie_iframe {
    margin-top: 56px;
  }
}
.movie_iframe iframe {
  width: 345px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 345/194;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .movie_iframe iframe {
    width: 640px;
    aspect-ratio: 640/360;
  }
}

.how-to-use {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .how-to-use {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.how-to-use_boxes {
  margin-top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 112px;
}
@media screen and (min-width: 768px) {
  .how-to-use_boxes {
    margin-top: 89px;
    gap: 75px;
  }
}

.how-to-use_box {
  border-radius: 30px;
  background: #fffbf0;
  padding: 54px 40px 48px;
}
@media screen and (min-width: 768px) {
  .how-to-use_box {
    padding: 44px 96px 56px;
    border-radius: 40px;
  }
}

.how-to-use_box-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .how-to-use_box-title {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
}
.how-to-use_box-title img {
  width: 85px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: calc(100% + 16px);
}
@media screen and (min-width: 768px) {
  .how-to-use_box-title img {
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .is-type2 .how-to-use_box-title {
    padding-right: 0;
    padding-left: 95px;
  }
  .is-type2 .how-to-use_box-title img {
    right: auto;
    left: 0;
  }
}

.how-to-use_steps {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .how-to-use_steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
    margin-top: 19px;
  }
}

@media screen and (min-width: 768px) {
  .how-to-use_step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.step-box {
  padding-top: 45px;
  position: relative;
}

.step-box_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #111;
  background: #f5810e;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.is-type2 .step-box_head {
  background: #fabe00;
}

.step-box_head-text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.3px;
}

.step-box_head-number {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.4px;
  margin-top: 3px;
}

.step-box_body {
  border-radius: 30px;
  border: 3px solid #111;
  background: #fff;
  overflow: hidden;
  padding: 47px 17px;
  padding-bottom: 23px;
  text-align: center;
}

.step-box_image img {
  width: 160px;
}
@media screen and (min-width: 768px) {
  .step-box_image img {
    width: 200px;
  }
}

.step-box_text {
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-top: 10px;
}

.merit {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .merit {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.merit_inner {
  padding-left: 15px;
  padding-right: 15px;
}

.merit_boxes {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .merit_boxes {
    margin-top: 60px;
    gap: 40px;
  }
}

.merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 24px;
}
@media screen and (min-width: 768px) {
  .merit-box {
    padding: 20px 18px;
  }
}
@media screen and (min-width: 768px) {
  .merit-box.is-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .merit-box_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .is-reverse .merit-box_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.merit-box_image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .merit-box_image {
    width: 38.0434782609%;
  }
}
.merit-box_image img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .merit-box_image img {
    width: 350px;
  }
}

.merit-box_body {
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .merit-box_body {
    width: 56.5217391304%;
    margin-top: 0;
  }
}

.merit-box_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .merit-box_head {
    gap: 28px;
  }
}

.merit-box_number {
  color: #fabe00;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .merit-box_number {
    font-size: 110px;
  }
}

.merit-box_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .merit-box_title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.merit-box_text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .merit-box_text {
    margin-top: 16px;
    font-size: 15px;
  }
}

.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .compare {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare_title {
    font-size: 24px;
  }
}

.compare_content {
  margin-top: 40px;
  overflow-x: auto;
  padding-bottom: 34px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .compare_content {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare_table {
  border-collapse: collapse;
  width: 620px;
  table-layout: fixed;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .compare_table {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
.compare_table th,
.compare_table td {
  text-align: center;
  font-weight: 700;
  height: 60px;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .compare_table th,
  .compare_table td {
    height: 100px;
  }
}
.compare_table th:nth-child(1),
.compare_table td:nth-child(1) {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .compare_table th:nth-child(1),
  .compare_table td:nth-child(1) {
    width: 250px;
  }
}
.compare_table th:nth-child(2),
.compare_table td:nth-child(2) {
  width: 90px;
  background: #fff9e5;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .compare_table th:nth-child(2),
  .compare_table td:nth-child(2) {
    width: 250px;
    font-size: 25px;
    letter-spacing: 0.75px;
  }
}
.compare_table th:nth-child(2) img,
.compare_table td:nth-child(2) img {
  width: 70px;
}
@media screen and (min-width: 768px) {
  .compare_table th:nth-child(2) img,
  .compare_table td:nth-child(2) img {
    width: 123px;
  }
}
.compare_table th {
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare_table th {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}
.compare_table td {
  font-size: 14px;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .compare_table td {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
}

thead th {
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  thead th {
    letter-spacing: 2px;
  }
}

tbody tr {
  border-top: 1.5px solid #000;
}
@media screen and (min-width: 768px) {
  tbody tr {
    border-top: 3px;
  }
}
tbody th,
tbody td {
  height: 58.5px;
}
@media screen and (min-width: 768px) {
  tbody th,
  tbody td {
    height: 100px;
  }
}

.qa {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .qa {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.qa_inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .qa_inner {
    max-width: 860px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.qa_boxes {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}
@media screen and (min-width: 768px) {
  .qa_boxes {
    margin-top: 72px;
  }
}

.qa-box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;
}
.qa-box.is-open .qa-box_head::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.qa-box_head {
  padding: 29px 37px 17px 12px;
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .qa-box_head {
    padding: 29px 77px 17px 17px;
  }
}
.qa-box_head::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 14px;
  width: 9.26px;
  height: 6.834px;
  background: url(../img/polygon.png) no-repeat center center/contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
  .qa-box_head::after {
    right: 18px;
    margin-top: 2px;
  }
}

.qa-box_head-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .qa-box_head-text {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.28px;
  }
}

.qa-box_head-icon {
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #111;
  background: #f5810e;
  position: absolute;
  top: -26px;
  left: 12px;
}
@media screen and (min-width: 768px) {
  .qa-box_head-icon {
    left: 18px;
  }
}

.qa-box_body {
  padding: 13px 14px 17px 12px;
  display: none;
}
@media screen and (min-width: 768px) {
  .qa-box_body {
    padding: 3px 33px 17px 17px;
  }
}

.qa-box_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .qa-box_a {
    gap: 10px;
  }
}

.qa-box_a-icon {
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 22px;
  border: 3px solid #111;
  background: #fabe00;
  width: 44px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qa-box_a-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .qa-box_a-text {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.28px;
    padding-top: 7px;
  }
}

.compare_attention {
  color: #686868;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 11px;
}
@media screen and (min-width: 768px) {
  .compare_attention {
    display: none;
  }
}

::-webkit-scrollbar {
  width: auto;
  height: 6px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 112px;
  }
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #fabe00;
}

.gallery {
  padding-top: 58px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .gallery_inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 860px;
  }
}

.gallery_slider {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .gallery_slider {
    margin-top: 60px;
  }
}

.gallery_swiper {
  padding-bottom: 26px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: -5px;
}
@media screen and (min-width: 768px) {
  .gallery_swiper {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.gallery_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  bottom: 0 !important;
}
.gallery_pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 10px;
  background: #bcbcbc;
  opacity: 1;
}
.gallery_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fabe00;
}

.gallery_prev,
.gallery_next {
  width: 40px;
  height: 40px;
  margin-top: -40px;
}
@media screen and (min-width: 768px) {
  .gallery_prev,
  .gallery_next {
    width: 50px;
    height: 50px;
    margin-top: -60px;
  }
}
.gallery_prev::after,
.gallery_next::after {
  display: none;
}

.gallery_prev {
  background: url(../img/prev-icon.png) no-repeat center center/contain;
  left: 0;
}
@media screen and (min-width: 768px) {
  .gallery_prev {
    left: 10px;
  }
}

.gallery_next {
  background: url(../img/next-icon.png) no-repeat center center/contain;
  right: 0;
}
@media screen and (min-width: 768px) {
  .gallery_next {
    right: 10px;
  }
}

.gallery-card {
  border-radius: 20px;
  border: 3px solid #111;
  background: #fff;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 12px 12px 9px 12px;
}
@media screen and (min-width: 768px) {
  .gallery-card {
    border-radius: 30px;
    padding: 17px 17px 15px 17px;
  }
}

.gallery-card_image {
  text-align: center;
}
.gallery-card_image img {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .gallery-card_image img {
    border-radius: 20px;
  }
}

.gallery-card_text {
  margin-top: 11px;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .gallery-card_text {
    font-size: 16px;
    margin-top: 18px;
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left/529px auto;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contact_box {
  border-radius: 30px;
  background: #fff;
  padding: 60px 20px;
}
@media screen and (min-width: 768px) {
  .contact_box {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contact_form {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .contact_form {
    margin-top: 50px;
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.contact_privacy {
  text-align: center;
}
.contact_button {
  text-align: center;
  margin-top: -3px;
}
@media screen and (min-width: 768px) {
  .contact_button {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
}

.form-field_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .form-field_head {
    width: 180px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.form-field_label {
  font-weight: 700;
  line-height: 1.4375;
}

.form-field_tag {
  border-radius: 2px;
  background: #ee8013;
  display: inline-block;
  padding: 6px 8px 5px 8px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.98px;
}
.form-field_tag.is-option {
  background: #43b549;
}

.form-field_item {
  margin-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .form-field_item {
    margin-top: 0;
  }
}
.form-field_radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}
@media screen and (min-width: 768px) {
  .form-field_radios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.form-text {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  padding: 12px 13px 11px;
  width: 100%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-text:hover, .form-text:focus {
  border-color: #fabe00;
  outline: none;
}

.form-radio {
  line-height: 1.4375;
}
.form-radio:hover .form-radio_text::before {
  border-color: #fabe00;
}

.form-radio_text {
  font-weight: 700;
  position: relative;
  padding-left: 28px;
}
.form-radio_text::before, .form-radio_text::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form-radio_text::before {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 3px solid #111;
  left: 0;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-radio_text::after {
  background: #f5810e;
  width: 10px;
  height: 10px;
  left: 7px;
  opacity: 0;
}

.form-radio_input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-radio_input:checked + .form-radio_text::after {
  opacity: 1;
}
.form-radio_input:focus + .form-radio_text::before {
  border-color: #fabe00;
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  font-weight: 700;
  padding: 12px 43px 11px 13px;
  background: url(../img/select-arow.png) no-repeat center right 18px/9.451px 6.969px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-select:hover, .form-select:focus {
  border-color: #fabe00;
  outline: none;
}

.form-textarea {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  height: 180px;
  width: 100%;
  padding: 13px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-textarea:hover, .form-textarea:focus {
  border-color: #fabe00;
  outline: none;
}

.form-checkbox:hover .form-checkbox_text::before {
  border-color: #f5810e;
}

.form-checkbox_input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox_input:checked + .form-checkbox_text::after {
  opacity: 1;
}
.form-checkbox_input:focus + .form-checkbox_text::before {
  border-color: #f5810e;
}

.form-checkbox_text {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
}
.form-checkbox_text::before, .form-checkbox_text::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form-checkbox_text::before {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #111;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-checkbox_text::after {
  width: 23px;
  height: 17.53px;
  left: -1px;
  margin-top: -1.2px;
  background: url(../img/checkicon.png) no-repeat center center/contain;
  opacity: 0;
}
.form-checkbox_text a {
  font-weight: inherit;
  text-decoration-line: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.form-checkbox_text a:hover {
  color: #f5810e;
}

.cta {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cta_text {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .cta_text {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.54px;
  }
}

.cta_button {
  margin-top: 16px;
}
.footer {
  background: #111;
  padding-top: 8px;
  padding-bottom: 12px;
  text-align: center;
}

.footer_copyright {
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.96px;
}

.page_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: min(13.3333333333%, 50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
@media screen and (min-width: 768px) {
  .page_top {
    right: 16px;
    bottom: 30px;
    width: 76px;
  }
}
.page_top.is-show {
  opacity: 1;
  visibility: visible;
}

.fade-in-up {
  opacity: 0;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.fade-in-up.is-in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fade-in-down {
  opacity: 0;
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.fade-in-down.is-in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.fade-in.is-in-view {
  opacity: 1;
}