$text-main-color: #1a1a1a;
$text-white-color: #FFFFFF;

$main-color: #163F74;
$main-color-deep: #002a52;
$main-color-thin: #EEF3F8;

$logo-color:#023E78;

$accent-color-y: #FEF251;
$accent-color-r: #D33365;